.cache
.env
.vscode
*.DS_Store
*.log
build
coverage
dist
logs
node_modules
npm-debug.log
.next/
.next/cache/
pnpm-lock.yaml
package-lock.json
out
.vercel
Procfile
nodemon.json
.gitattributes
.npmignore
.prettierignore
next-env.d.ts